.sentence {
  position: relative;

  .sentence-detail {
    opacity: 0.5;
    padding: 48px;
    margin-bottom: 48px;
    width: auto;
    max-width: 600px;
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.22);
    border-radius: 4px;
    @include transition(opacity $transition-duration);
    pointer-events: none;

    .player {
      width: 100%;
      margin-bottom: 24px;
    }

    .japanese, .translation {
      $dot-size: 12px;
      $dot-outer-size: ($dot-size + 12px);

      margin-bottom: 12px;
      margin-left: $dot-outer-size;
      padding-left: $dot-outer-size / 2;
      margin-right: $button-prompt-outer;
      position: relative;
      @include transition(background-color ($transition-duration * 2), color ($transition-duration * 2));

      &:before {
        content: "";
        display: inline-block;
        width: $dot-size;
        height: $dot-size;
        border-radius: $dot-size / 2;
        position: absolute;
        top: 50%;
        left: -$dot-outer-size;
        transform: translateY(-50%);
      }

      &:last-child { margin-bottom: 0; }

      &.masked {
        $mask-color: #BDC3C7;

        background: $mask-color;
        color: $mask-color;
      }
    }

    .japanese:before { background-color: #c0392b; }
    .translation:before { background-color: #2980b9; }
  }

  &[data-processed=false] {
    .sentence-detail {
      animation: fadeInOut 1s infinite;

      .player, .japanese, .translation { display: none; }
    }
  }

  &.active {
    .sentence-detail {
      opacity: 1;
      animation: none;
      pointer-events: all;

      .japanese.masked + .translation.masked {
        opacity: 0.5;
      }

      .japanese.masked, .japanese:not(.masked) ~ .translation.masked {
        &:after {
          @include button-prompt("R");
          position: absolute;
          right: -$button-prompt-outer;
          width: $button-prompt-size;
        }
      }
    }

    & + .sentence {
      &:before {
        @include button-prompt("Space");
        position: absolute;
        top: -($button-prompt-size / 2);
        z-index: 2;
        padding: 0 12px;
        left: 24px;
      }
    }
  }
}
